.react-table {
  background: #ffffff;
  border: #bac2cf solid 1px;
  padding-left: 20px;
  padding-right: 20px;
  &__header-container {
  }
  &__header-title {
    text-align: center;
    font-size: 0.8rem;
    color: #bac2cf;
  }
  &__row {
    border: #bac2cf solid 1px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    box-shadow: 0px 19px 66px -38px rgba(0, 0, 0, 0.56);
    min-height: 45px;
  }
  &__row-item {
    text-align: center;
    font-weight: 700;
  }
  &__row-link {
    color: inherit;
    &:visited {
      color: inherit;
    }
  }
  &__row-link-disabled {
    cursor: inherit;
    color: inherit;
    &:visited {
      color: inherit;
    }
    &:hover {
      color: inherit;
    }
  }
  &__payment-method-badge {
    width: 50px;
    border: #f0f0f0 solid 1px;
    border-radius: 5px;
  }
  &__payment-status-badge {
    font-weight: 500;
    background: #000000;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 25px;
  }
  &__payment-status-badge-text {
    color: #ffffff;
    font-size: 0.8rem;
    vertical-align: middle;
  }
  &__payment-status-badge-re {
    background: #63c0f7;
  }
  &__payment-status-badge-np {
    background: #adbbc9;
  }
  &__payment-status-badge-pa {
    background: #8bd041;
  }
}
