<p id="notice"><%= notice %></p>
<div id="rails-background">
  <h1>Payments</h1>
  <%= puts(@tableConfig[:isBackgroundHighlighted]) %>
  <br>
  <%= react_component("Table/Table", { tableConfig: @tableConfig, columnsConfig: @columnsConfig, dataSource: @dataSource }) %>
  <br>
</div>
